:root {
  --color-background: 3, 17, 16;
  --color-text: #fff;
  --color-resalt: #127369;
  --radio: .5rem;
}

body {
  font-family: "Poppins", sans-serif;
  color:var(--color-text);
  background-color: rgb(var(--color-background));
  background-image: url("../img/background-v2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0rem 1rem;
}

.info > div ul {
  border: none;
  border-top: 1px var(--color-resalt) solid;
  padding-top: .7rem;
}

@media (min-width: 575px) {
  .container {
    max-width: 575px;
    padding: 0rem 2rem;
  }

  .burger-label {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .info > div {
    grid-template-columns: 1fr;
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
  .main-rel-item.item5, .main-rel-item.item6 {
    display: none;
  }

  .info > div {
    grid-template-columns: 1.5fr 1fr;
  }
  
  .info > div ul {
    border: none;
    border-left: 1px var(--color-resalt) solid;
    padding: 0;
    padding-left:.7rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .main-rel-item.item5 {
    display: block;
  }
}
