:root {
  --color-background: 3, 17, 16;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(var(--color-background));
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 1rem;
}

.nav-bar {
  display: none;
}

@media (min-width: 575px) {
  .container {
    max-width: 575px;
    padding: 0.5rem 2rem;
  }

  .burger-label {
    display: none;
  }

  .nav-bar {
    display: block;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
