header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/background-v2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-color: rgba(var(--color-background), 0.8);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar {
  position: relative;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95px;
}

.logo img {
  height: 35px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-bar-items {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -2rem;
  top: 42px;
  background-color: rgba(var(--color-background), 0.8);
  padding: 0 0 1.5rem 0;
  width: 100vw;
}

.nav-bar-items a {
  color: var(--color-text);
  text-decoration: none;
  opacity: 0.8;
  display: flex;
  padding: 1.1rem;
  font-size: 1.3rem;
  justify-content: center;
  width: 100vw;
}
.nav-bar-items a:hover {
  opacity: 1;
}

.nav-bar-items a:active {
  background-color: rgba(14, 89, 82, .8);
}

.nav-bar-items a i {
  font-size: 1.4em;
  display: none;
}

.nav-bar-items a span {
  display: block;
}

.burger-label {
  position: relative;
  right: -1rem;
  font-size: 2rem;
  color: var(--color-text);
  cursor: pointer;
}

#burger-checkbox {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 5px;
  left: 5px;
  margin: 0;
  display: none;
}

#burger-checkbox:checked ~ .nav-bar-items {
  display: flex;
}

@media (min-width: 575px) {
  .nav-bar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
    background-color: inherit;
    padding: 0;
    width: auto;
  }

  .nav-bar-items a {
    padding: 1rem 0.5rem;
    width: auto;
    height: auto;
    padding: 0.6rem 0.8rem;
    font-size: .9rem;
  }

  .nav-bar-items a span {
    display: none;
  }

  .nav-bar-items a i {
    display: block;
  }

  .nav-bar-items a:last-child {
    padding-right: 0;
  }

  .nav-bar-items a:active {
    background-color: inherit;
  }
}