.main-video {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 1rem;
}

.main-video .main-video-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-top: 1.5rem;
  position: absolute;
  font-style: italic;
  font-size: 0.9rem;
  opacity: 0.8;
  z-index: 2;
}

.main-video .main-video-icons {
  font-size: 1.5rem;
}

.main-video .main-video-icons a {
  text-decoration: none;
  color: var(--color-text);
  opacity: 0.8;
}

.main-video .main-video-icons a:hover,
.main-video .main-video-icons .star-label:hover {
  opacity: 1;
}
.main-video .main-video-icons .star-label {
  position: relative;
  color: var(--color-text);
  cursor: pointer;
  z-index: 2;
  opacity: 0.8;
  top: -1px;
}

#star-checkbox {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 24px;
  right: 60px;
  margin: 0;
  display: none;
}

#star-checkbox:checked ~ .star-label {
  opacity: 1;
}

#star-checkbox:checked ~ .star-label i {
  font-weight: bolder;
}

#star-checkbox ~ .star-label i {
  font-weight: normal;
}

.main-video video {
  width: 100%;
  height: 100%;
  border-radius: var(--radio);
}

.main-rel {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 300px;
  gap: 1rem;
}

.main-rel-item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: var(--radio);
  display: flex;
  text-decoration: none;
  position: relative;
  padding: 2rem;
  cursor: pointer;
}

.main-rel-item:before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform-origin: 0 bottom 0;
  transform: scaleY(0);
  transition: 0.4s ease-out;
  border-radius: var(--radio);
}

.main-rel-item:hover:before {
  transform: scaleY(1);
  opacity: 0.5;
}

.main-rel-item .main-rel-item-title {
  padding: 1rem;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.1;
  font-weight: 700;
  transition: 0.3s ease-out;
  text-decoration: none;
  display: grid;
  grid-template-rows: 1.5fr 1fr 2fr;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
}

.main-rel-item .main-rel-item-title p {
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-rel-item .main-rel-item-title h4 {
  font-size: 1.5rem;
}

.main-rel-item .main-rel-item-title .rel-rating-year {
  font-weight: 400;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
}

.main-rel-item .main-rel-item-title p {
  font-weight: 400;
  font-size: 0.8;
}

.main-rel-item:hover .main-rel-item-title {
  color: var(--color-text);
  opacity: 1;
}

.main-rel-item .multi-button {
  z-index: 0;
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 0;
  right: 0;
}

.main-rel-item .multi-button .star-label {
  position: relative;
  color: var(--color-text);
  opacity: 0.7;
  background-color: rgb(var(--color-background));
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 2;
}

.main-rel-item .multi-button .star-label:hover {
  opacity: 1;
}

#rel-star-checkbox1, #rel-star-checkbox2, #rel-star-checkbox3, #rel-star-checkbox4, #rel-star-checkbox5, #rel-star-checkbox6 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  display: none;
}

#rel-star-checkbox1 ~ .star-label i,
#rel-star-checkbox2 ~ .star-label i,
#rel-star-checkbox3 ~ .star-label i,
#rel-star-checkbox4 ~ .star-label i,
#rel-star-checkbox5 ~ .star-label i,
#rel-star-checkbox6 ~ .star-label i,
{
  font-weight: normal;
}

#rel-star-checkbox1:checked ~ .star-label i,
#rel-star-checkbox2:checked ~ .star-label i,
#rel-star-checkbox3:checked ~ .star-label i,
#rel-star-checkbox4:checked ~ .star-label i,
#rel-star-checkbox5:checked ~ .star-label i,
#rel-star-checkbox6:checked ~ .star-label i
{
  font-weight: bolder;
}

#rel-star-checkbox1:checked ~ .star-label,
#rel-star-checkbox2:checked ~ .star-label,
#rel-star-checkbox3:checked ~ .star-label,
#rel-star-checkbox4:checked ~ .star-label,
#rel-star-checkbox5:checked ~ .star-label,
#rel-star-checkbox6:checked ~ .star-label 
{
  opacity: 1;
}

.main-rel-item.item1 {
  background-image: url("../img/caratulas/ataquent.jpg");
}

.main-rel-item.item2 {
  background-image: url("../img/caratulas/camarada.jpg");
}

.main-rel-item.item3 {
  background-image: url("../img/caratulas/cantiflas.jpg");
}

.main-rel-item.item4 {
  background-image: url("../img/caratulas/casablanca.png");
}

.main-rel-item.item5 {
  background-image: url("../img/caratulas/chaplin.jpg");
}

.main-rel-item.item6 {
  background-image: url("../img/caratulas/dos-pares.jpg");
}
